.uber-button {
    background-color: black;
    color: white;
    border: none;
    height: 36px;
    width: 115px;
    cursor: pointer;
}

.amazon-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
}

.github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 36px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.bootstrap-get-started-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 36px;
    width: 115px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.bootstrap-download-button {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-width: 1px;
    border-style: solid;
    height: 36px;
    width: 115px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.linkedin-apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    border-style: solid;
    height: 36px;
    width: 225px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.linkedin-save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.back-to-amazon-button {
    color: rgb(0, 113, 133);
    font-size: 18px;
}

.product-name-paragraph {
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.price-paragraph {
    color: rgb(0, 118, 0);
    font-size: 18px;
    font-weight: bold;
}

.delivery-paragraph {
    color: black;
    font-size: 18px;
}

.add-to-cart-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 36px;
    width: 140px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buy-now-button {
    background-color: rgb(255, 164, 28);
    color: black;
    border: none;
    height: 36px;
    width: 140px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}